.pokemons{
    height: 80vh;
    width: 60rem;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    margin-right: 1rem;
    justify-content: space-evenly;
}
.pokemons::-webkit-scrollbar {
    width: 6px;
}
.pokemons::-webkit-scrollbar-thumb {
    background: #8f8f8f;
    border-radius: 4px;
}
.pages{
    position: fixed;
}

.msg{
    font-family: 'Play', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: tomato;
    margin: 0;
}
.notFound{
    width: 20rem;
}

.loading{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loadingimg{
    width: 12rem;
    margin-top: 3rem;
    animation: rotranslate 2s infinite ease-in alternate;
}


@keyframes rotranslate {
    0%{
        margin-right: -70%;
        transform: rotateZ(0deg);
    }
    100%{
        margin-left: -70%;
        transform: rotateZ(-720deg);
    }
    
}
